[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "==2.1.1"
masonite = "==2.1.10"

[dev-packages]
pylint = "*"
masonite-cli = "*"

[requires]
python_version = "3.7"
