<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Hello World in Masonite</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

	<!-- Application CSS -->
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="flex-center position-ref full-height">
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>

</html>