{% extends 'base.html' %}

<div class="title m-b-md">
  Hello World in Masonite
</div>

<div class="links">
  <a href="https://github.com/MasoniteFramework/masonite"><strong>Masonite: </strong>The Modern And Developer Centric Python Web Framework</a>
</div>

<br><br>

<div>
  {% if session().has('validation') %}
	<div>
		<ul>
			{% for key, value in session().get('validation').items() %}
			<li>{{ value }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<form action="/hello">
		<input type="text" name="name" value="{% if session().has('name') %}{{session().get('name')}}{% endif %}" required/><br/><br/>
		<input type="submit" value="Say hello!" />
	</form>
</div>
            